body {
      font-family: 'Cabin', sans-serif !important;
     }


.table {
    margin-top: 10px;
}

.table td{
    border: black solid 1px !important;
    padding: 0px !important;
}

#b {
    background-color: black;
}

.answer {
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
}

.answer1 {
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    margin-top:24px;
}

h3 {
    text-align: center;
}

#main-container {
  margin: 10px;
  background-color: #E1E8EE;
  padding: 15px;
  box-shadow: 20px 10px 10px rgba(0,0,0,.15);
}

#title {
    background-color: #BACBD7;
    margin: 5px;
    padding: 5px;
    box-shadow: 20px 10px 10px rgba(0,0,0,.15);
}